openapi: 3.1.2
jsonSchemaDialect: https://spec.openapis.org/oas/3.1/dialect/base
info:
  title: Oh Dear API
  version: '1.0.0'
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  summary: Oh Dear API
  contact:
    email: support@ohdear.app
    name: Oh Dear Support
    url: https://ohdear.app
  description: >
    OpenAPI 3.1 specification for the Oh Dear API, aligned with the public documentation and SDK.
    Authentication is via the HTTP Authorization Header using a Bearer token.
servers:
  - url: https://ohdear.app/api
    description: Production
security:
  - bearerAuth: []
tags:
  - name: AI
    description: Endpoints related to AI monitoring responses.
  - name: Application Health Checks
    description: Endpoints related to application health checks.
  - name: Broken Links
    description: Endpoints related to broken links checks.
  - name: Certificates
    description: Endpoints related to certificate health checks.
  - name: Checks
    description: Endpoints for managing checks on monitors.
  - name: Cron Checks
    description: Endpoints related to cron checks.
  - name: Current User
    description: Endpoints related to the current authenticated user.
  - name: Detected Certificates
    description: Endpoints related to detected certificates.
  - name: DNS
    description: Endpoints related to DNS records and history.
  - name: Domain
    description: Endpoints related to domain registration information.
  - name: Downtime
    description: Endpoints related to downtime periods.
  - name: Lighthouse
    description: Endpoints related to Lighthouse performance reports.
  - name: Maintenance Periods
    description: Endpoints related to maintenance periods.
  - name: Me
    description: Endpoints related to the current authenticated user.
  - name: Mixed Content
    description: Endpoints related to mixed content checks.
  - name: Monitors
    description: Endpoints for managing monitors.
  - name: Notification Destinations
    description: Endpoints for managing notification destinations for teams, monitors, tags, and tag groups.
  - name: Reseller
    description: Endpoints for resellers to manage teams and users for their clients.
  - name: Status Page Updates
    description: Endpoints related to status page updates.
  - name: Status Pages
    description: Endpoints related to status pages.
  - name: Tag Groups
    description: Endpoints for managing tag groups.
  - name: Tags
    description: Endpoints for managing tags.
  - name: Uptime
    description: Endpoints related to uptime.
  - name: Uptime Metrics
    description: Endpoints related to uptime metrics.

paths:
  /me:
    get:
      tags: [Me, Current User]
      summary: Get current user
      description: Returns the user and team info for the authenticated user. This endpoint can be used to retrieve information about the current user.
      operationId: getMe
      responses:
        '200':
          description: User info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
              examples:
                success:
                  value:
                    id: 1
                    name: SomeUser Lastname
                    email: someuser.lastname@example.com
                    photo_url: 'https://www.gravatar.com/avatar/1f25bba8e111110ea011115d2cbbbb.jpg?s=100&d=mm'
                    teams:
                      - id: 121015
                        name: Main Team
                        timezone: America/New_York
                        created_at: 2024-03-14 15:37:03
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /monitors:
    get:
      tags: [Monitors]
      summary: List monitors
      description: Returns a paginated list of monitors for the authenticated user's team.
      operationId: listMonitors
      parameters:
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Paginated monitors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedMonitors'
              examples:
                success:
                  value:
                    data:
                      - id: 99
                        team_id: 1
                        type: http
                        url: https://example.com
                        uses_https: true
                        sort_url: example.com
                        label: example.com
                        group_name: ''
                        tags: []
                        description: null
                        notes: null
                        latest_run_date: '2019-09-16 07:29:02'
                        summarized_check_result: succeeded
                        checks:
                          - id: 100
                            type: uptime
                            label: Uptime
                            enabled: true
                            latest_run_ended_at: '2019-09-16 07:29:02'
                            latest_run_result: succeeded
                            summary: Up
                            settings:
                              uptime_check_settings:
                                uptime_check_location: paris
                            active_snooze: null
                        uptime_check_settings:
                          location: paris
                          look_for_string: ''
                          absent_string: null
                          expected_response_headers: []
                          failed_notification_threshold: 2
                          http_verb: get
                          payload: []
                          timeout: 5
                          valid_status_codes: ['2*']
                          max_redirect_count: 5
                          expected_final_redirect_url: null
                          http_client_headers: []
                        badge_id: badge-123
                        marked_for_deletion_at: null
                        created_at: '2019-09-16 07:25:00'
                        updated_at: '2019-09-16 07:25:00'
                    links:
                      first: https://ohdear.app/api/monitors?page%5Bnumber%5D=1
                      last: https://ohdear.app/api/monitors?page%5Bnumber%5D=1
                      prev: null
                      next: null
                    meta:
                      current_page: 1
                      from: 1
                      last_page: 1
                      path: https://ohdear.app/api/monitors
                      per_page: 200
                      to: 1
                      total: 1
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Monitors]
      summary: Create a monitor
      description: Create a new monitor for the authenticated user's team.
      operationId: createMonitor
      requestBody:
        description: The payload to include with the request.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMonitorRequest'
            examples:
              minimal:
                value:
                  url: https://example.com
                  team_id: 1
                  type: http
              withChecksAndSettings:
                value:
                  url: https://ohdear.app/docs
                  type: http
                  team_id: 1
                  checks: [uptime, performance, broken_links, mixed_content, lighthouse, cron, application_health, sitemap, dns, domain, certificate_health]
                  group_name: Internal
                  friendly_name: Documentation
                  tags: [internal, production, docs]
                  notes: Internal notes for our team members
                  description: Oh Dear documentation
                  uptime_check_location: paris
                  uptime_check_expected_final_redirect_url: https://redirect-to-this-url.com
                  uptime_check_failed_notification_threshold: 2
                  uptime_check_http_verb: get
                  uptime_check_timeout: 5
                  uptime_check_max_redirect_count: 5
                  uptime_check_payload:
                    - name: payload-name-1
                      value: payload-value-1
                  uptime_check_valid_status_codes: ['2*']
                  uptime_check_look_for_string: null
                  uptime_check_absent_string: null
                  uptime_check_expected_response_headers:
                    - name: my-response-header
                      condition: equals
                      value: my-response-value
                  http_client_headers:
                    - name: my-header
                      value: my-value
                  performance_threshold_in_ms: 3500
                  performance_change_percentage: 50
                  crawler_headers:
                    - name: my-broken-links-header
                      value: my-broken-links-value
                  broken_links_check_include_external_links: false
                  broken_link_types: [link, image, script, stylesheet, 'og:image']
                  broken_links_whitelisted_urls: []
                  respect_robots: true
                  sitemap_path: /sitemap.xml
                  sitemap_speed: slow
                  application_health_check_result_url: https://mybrandnewsite.tld/health
                  application_health_headers:
                    - name: my-header
                      value: my-value
                  certificate_health_check_expires_soon_threshold_in_days: 14
                  dns_check_nameservers_in_sync: true
                  dns_monitor_main_domain: false
                  dns_extra_cnames: [cname1, cname2]
                  dns_ignored_record_types: [A, CNAME]
                  domain_check_expires_soon_threshold_in_days: 30
                  lighthouse_check_continent: europe
                  lighthouse_cpu_slowdown_modifier: 0
                  send_report_to_emails: ['a@example.com', 'b@example.com']
                  include_check_types_in_report:
                    [uptime, performance, broken_links, mixed_content, lighthouse, cron, application_health, sitemap, dns, domain, certificate_health]
      responses:
        '201':
          description: Monitor created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Monitor'
              examples:
                created:
                  value:
                    id: 173
                    team_id: 1
                    type: http
                    url: https://example.com
                    uses_https: true
                    sort_url: example.com
                    label: example.com
                    group_name: ''
                    tags: []
                    description: null
                    notes: null
                    latest_run_date: null
                    summarized_check_result: pending
                    checks:
                      - id: 560
                        type: uptime
                        label: Uptime
                        enabled: true
                        latest_run_ended_at: null
                        latest_run_result: pending
                        summary: Pending
                        settings:
                          uptime_check_settings:
                            uptime_check_location: paris
                        active_snooze: null
                      - id: 561
                        type: certificate_health
                        label: Certificate health
                        enabled: true
                        latest_run_ended_at: null
                        latest_run_result: pending
                        summary: Pending
                        settings:
                          certificate_health_check_settings:
                            expires_soon_threshold_in_days: null
                        active_snooze: null
                    uptime_check_settings:
                      location: paris
                      look_for_string: ''
                      absent_string: null
                      expected_response_headers: []
                      failed_notification_threshold: 2
                      http_verb: get
                      payload: []
                      timeout: 5
                      valid_status_codes: ['2*']
                      max_redirect_count: 5
                      expected_final_redirect_url: null
                      http_client_headers: []
                    badge_id: badge-abc123
                    marked_for_deletion_at: null
                    created_at: '2019-09-16 08:00:00'
                    updated_at: '2019-09-16 08:00:00'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/Validation' }

  /monitors/{monitorId}:
    get:
      tags: [Monitors]
      summary: Get a monitor
      description: Retrieve detailed information about a specific monitor by its ID.
      operationId: getMonitor
      parameters:
        - $ref: '#/components/parameters/MonitorId'
      responses:
        '200':
          description: Monitor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Monitor'
              examples:
                success:
                  value:
                    id: 99
                    team_id: 1
                    type: http
                    url: https://example.com
                    uses_https: true
                    sort_url: example.com
                    label: example.com
                    group_name: ''
                    tags: []
                    description: null
                    notes: null
                    latest_run_date: '2019-09-16 07:29:02'
                    summarized_check_result: succeeded
                    checks:
                      - id: 100
                        type: uptime
                        label: Uptime
                        enabled: true
                        latest_run_ended_at: '2019-09-16 07:29:02'
                        latest_run_result: succeeded
                        summary: Up
                        settings:
                          uptime_check_settings:
                            uptime_check_location: paris
                        active_snooze: null
                    uptime_check_settings:
                      location: paris
                      look_for_string: ''
                      absent_string: null
                      expected_response_headers: []
                      failed_notification_threshold: 2
                      http_verb: get
                      payload: []
                      timeout: 5
                      valid_status_codes: ['2*']
                      max_redirect_count: 5
                      expected_final_redirect_url: null
                      http_client_headers: []
                    badge_id: badge-123
                    marked_for_deletion_at: null
                    created_at: '2019-09-16 07:25:00'
                    updated_at: '2019-09-16 07:25:00'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [Monitors]
      summary: Update a monitor
      description: Update the settings of an existing monitor.
      operationId: updateMonitor
      parameters:
        - $ref: '#/components/parameters/MonitorId'
      requestBody:
        description: The payload to update the monitor with.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMonitorRequest'
            examples:
              example:
                value:
                  url: https://example.com/docs
                  type: http
                  checks: [uptime, performance, broken_links, mixed_content, lighthouse, cron, application_health, sitemap, dns, domain, certificate_health]
                  group_name: Internal
                  label: Documentation
                  tags: [internal, production, docs]
                  notes: Internal notes for our team members
                  description: Documentation site monitoring
                  uptime_check_settings:
                    location: paris
                    expected_final_redirect_url: https://redirect-to-this-url.com
                    failed_notification_threshold: 2
                    http_verb: get
                    timeout: 5
                    max_redirect_count: 5
                    payload:
                      - name: payload-name-1
                        value: payload-value-1
                    valid_status_codes: ['2*']
                    look_for_string: null
                    absent_string: null
                    expected_response_headers:
                      - name: my-response-header
                        condition: equals
                        value: my-response-value
                    http_client_headers:
                      - name: my-header
                        value: my-value
                  performance_check_settings:
                    threshold_in_ms: 3500
                    change_percentage: 50
                  broken_links_check_settings:
                    check_include_external_links: false
                    types: [link, image, script, stylesheet, 'og:image']
                    whitelisted_urls: []
                    respect_robots: true
                  sitemap_check_settings:
                    path: /sitemap.xml
                    speed: slow
                  application_health_check_settings:
                    result_url: https://example.com/health
                    secret: null
                    headers:
                      - name: my-header
                        value: my-value
                  certificate_health_check_settings:
                    expires_soon_threshold_in_days: 14
                  dns_check_settings:
                    check_nameservers_in_sync: true
                    monitor_main_domain: false
                    extra_cnames: [cname1, cname2]
                    ignored_record_types: [A, CNAME]
                  domain_check_settings:
                    expires_soon_threshold_in_days: 30
                  lighthouse_check_settings:
                    continent: europe
                    cpu_slowdown_modifier: 0
                  crawler_headers:
                    - name: my-broken-links-header
                      value: my-broken-links-value
                  send_report_to_emails: ['a@example.com', 'b@example.com']
                  include_check_types_in_report:
                    [uptime, performance, broken_links, mixed_content, lighthouse, cron, application_health, sitemap, dns, domain, certificate_health]
      responses:
        '200':
          description: Updated monitor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Monitor'
              examples:
                success:
                  value:
                    id: 99
                    label: Documentation
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Validation' }
    delete:
      tags: [Monitors]
      summary: Delete a monitor
      description: Delete a monitor by its ID. This action is irreversible.
      operationId: deleteMonitor
      parameters:
        - $ref: '#/components/parameters/MonitorId'
      responses:
        '204': { $ref: '#/components/responses/NoContent' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /monitors/{monitorId}/check-summary/{checkType}:
    get:
      tags: [Checks]
      summary: Get summary for a check type on a monitor
      description: Retrieve a summary of the latest result for a specific check type on a monitor.
      operationId: getCheckSummary
      parameters:
        - $ref: '#/components/parameters/MonitorId'
        - name: checkType
          description: The type of check to retrieve the summary for.
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/CheckType'
      responses:
        '200':
          description: Check summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckSummary'
              examples:
                success:
                  value:
                    result: succeeded
                    summary: Up
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /checks/{checkId}/enable:
    post:
      tags: [Checks]
      summary: Enable a check
      description: Enable a specific check by its ID.
      operationId: enableCheck
      parameters:
        - $ref: '#/components/parameters/CheckId'
      responses:
        '200':
          description: Enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckEnableToggle'
              examples:
                success:
                  value: { id: 405, type: uptime, enabled: true }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /checks/{checkId}/disable:
    post:
      tags: [Checks]
      summary: Disable a check
      description: Disable a specific check by its ID.
      operationId: disableCheck
      parameters:
        - $ref: '#/components/parameters/CheckId'
      responses:
        '200':
          description: Disabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckEnableToggle'
              examples:
                success:
                  value: { id: 405, type: uptime, enabled: false }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /checks/{checkId}/request-run:
    post:
      tags: [Checks]
      summary: Request an immediate run of a check
      description: Request an immediate run of a specific check. Optionally, custom HTTP headers can be provided for HTTP-based checks.
      operationId: requestCheckRun
      parameters:
        - $ref: '#/components/parameters/CheckId'
      requestBody:
        description: The optional payload to include with the request.
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckRunRequest'
            examples:
              withHeaders:
                value:
                  http_client_headers:
                    User-Agent: Custom User Agent
                    Authorization: Bearer token123
      responses:
        '200':
          description: Check details after run request accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Check'
              examples:
                success:
                  value:
                    id: 1
                    type: mixed_content
                    label: Mixed content
                    enabled: true
                    latest_run_ended_at: '2019-09-16 07:29:05'
                    latest_run_result: succeeded
                    settings: {}

                    active_snooze: null
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /checks/{checkId}/snooze:
    post:
      tags: [Checks]
      summary: Snooze notifications for a check
      description: Snooze notifications for a specific check for a given duration in minutes.
      operationId: snoozeCheck
      parameters:
        - $ref: '#/components/parameters/CheckId'
      requestBody:
        description: The payload to include with the request.
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [minutes]
              properties:
                minutes:
                  type: string
                  description: Duration in minutes (string)
            examples:
              example:
                value: { minutes: '10' }
      responses:
        '200':
          description: Snooze applied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Check'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /checks/{checkId}/unsnooze:
    post:
      tags: [Checks]
      summary: Remove snooze from a check
      description: Remove any active snooze from a specific check.
      operationId: unsnoozeCheck
      parameters:
        - $ref: '#/components/parameters/CheckId'
      responses:
        '200':
          description: Unsnoozed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Check'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /cron-checks/{cronCheckId}/snooze:
    post:
      tags: [Cron Checks]
      summary: Snooze a cron check
      description: Snooze notifications for a specific cron check for a given duration in minutes.
      operationId: snoozeCronCheck
      parameters:
        - $ref: '#/components/parameters/CronCheckId'
      requestBody:
        description: The payload to include with the request.
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [minutes]
              properties:
                minutes:
                  type: string
            examples:
              example:
                value: { minutes: '10' }
      responses:
        '200':
          description: Snoozed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CronCheck'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /cron-checks/{cronCheckId}/unsnooze:
    post:
      tags: [Cron Checks]
      summary: Unsnooze a cron check
      description: Remove any active snooze from a specific cron check.
      operationId: unsnoozeCronCheck
      parameters:
        - $ref: '#/components/parameters/CronCheckId'
      responses:
        '200':
          description: Unsnoozed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CronCheck'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /monitors/{monitorId}/application-health-checks:
    get:
      tags: [Application Health Checks]
      summary: List application health checks for a monitor
      description: Retrieve a list of application health checks associated with a specific monitor.
      operationId: listApplicationHealthChecks
      parameters:
        - $ref: '#/components/parameters/MonitorId'
      responses:
        '200':
          description: Health checks
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ApplicationHealthCheck'
              examples:
                success:
                  value:
                    data:
                      - id: 42
                        name: queue
                        latest_result: succeeded
                        latest_run_ended_at: '2024-11-10 12:00:00'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /monitors/{monitorId}/application-health-checks/{healthCheckId}/snooze:
    post:
      tags: [Application Health Checks]
      summary: Snooze an application health check
      description: Snooze notifications for a specific application health check for a given duration in minutes.
      operationId: snoozeApplicationHealthCheck
      parameters:
        - $ref: '#/components/parameters/MonitorId'
        - $ref: '#/components/parameters/HealthCheckId'
      requestBody:
        description: The payload to include with the request.
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [minutes]
              properties:
                minutes:
                  type: string
            examples:
              example:
                value: { minutes: '10' }
      responses:
        '200':
          description: Snoozed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationHealthCheck'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /monitors/{monitorId}/application-health-checks/{healthCheckId}/unsnooze:
    post:
      tags: [Application Health Checks]
      summary: Unsnooze an application health check
      description: Remove any active snooze from a specific application health check.
      operationId: unsnoozeApplicationHealthCheck
      parameters:
        - $ref: '#/components/parameters/MonitorId'
        - $ref: '#/components/parameters/HealthCheckId'
      responses:
        '200':
          description: Unsnoozed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationHealthCheck'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /monitors/{monitorId}/uptime:
    get:
      tags: [Uptime]
      summary: Uptime percentages for a monitor
      description: Retrieve uptime percentages for a specific monitor over a defined period, with optional granularity.
      operationId: getUptime
      parameters:
        - $ref: '#/components/parameters/MonitorId'
        - $ref: '#/components/parameters/FilterStartedAt'
        - $ref: '#/components/parameters/FilterEndedAt'
        - name: split
          in: query
          description: Granularity of the periods
          schema:
            type: string
            enum: [hour, day, month]
      responses:
        '200':
          description: Uptime series
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UptimePoint'
              examples:
                success:
                  value:
                    - datetime: '2018-01-01 00:00:00'
                      uptime_percentage: 100
                    - datetime: '2018-01-01 01:00:00'
                      uptime_percentage: 99.76
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /monitors/{monitorId}/downtime:
    get:
      tags: [Downtime]
      summary: Downtime periods for a monitor
      description: Retrieve a list of downtime periods for a specific monitor within a defined time range.
      operationId: getDowntime
      parameters:
        - $ref: '#/components/parameters/MonitorId'
        - $ref: '#/components/parameters/FilterStartedAt'
        - $ref: '#/components/parameters/FilterEndedAt'
      responses:
        '200':
          description: Downtime periods
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDowntime'
              examples:
                success:
                  value:
                    data:
                      - id: 1
                        started_at: '2018-01-01 15:00:00'
                        ended_at: '2018-01-01 15:07:00'
                        notes_html: 'We contacted our provider and they fixed the issue.'
                        notes_markdown: 'We contacted our provider and they fixed the issue.'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /downtime/{downtimeId}:
    delete:
      tags: [Downtime]
      summary: Delete a downtime period
      description: Delete a specific downtime period by its ID. This action is irreversible.
      operationId: deleteDowntime
      parameters:
        - name: downtimeId
          description: The ID of the downtime period to delete.
          in: path
          required: true
          schema: { type: integer }
      responses:
        '204': { $ref: '#/components/responses/NoContent' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /monitors/{monitorId}/http-uptime-metrics:
    get:
      tags: [Uptime Metrics]
      summary: HTTP uptime metrics
      description: Retrieve HTTP uptime metrics for a specific monitor over a defined period.
      operationId: httpUptimeMetrics
      parameters:
        - $ref: '#/components/parameters/MonitorId'
        - $ref: '#/components/parameters/FilterStart'
        - $ref: '#/components/parameters/FilterEnd'
        - $ref: '#/components/parameters/FilterGroupBy'
      responses:
        '200':
          description: Metrics series
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UptimeMetricsHttpResponse'
              examples:
                success:
                  value:
                    data:
                      - dns_time_in_seconds: 0.001399
                        tcp_time_in_seconds: 0.01651
                        ssl_handshake_time_in_seconds: 0.053852
                        remote_server_processing_time_in_seconds: 0.021595
                        download_time_in_seconds: 0.000535
                        total_time_in_seconds: 0.093891
                        curl:
                          namelookup_time: 0.001399
                          connect_time: 0.017909
                          appconnect_time: 0.071761
                          starttransfer_time: 0.093356
                          pretransfer_time: 0.071864
                          redirect_time: 0
                          total_time: 0.093891
                          header_size: 1261
                          size_download: 12814
                          speed_download: 137784
                        date: '2024-04-19 13:25:00'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /monitors/{monitorId}/ping-uptime-metrics:
    get:
      tags: [Uptime Metrics]
      summary: Ping uptime metrics
      description: Retrieve ping uptime metrics for a specific monitor over a defined period.
      operationId: pingUptimeMetrics
      parameters:
        - $ref: '#/components/parameters/MonitorId'
        - $ref: '#/components/parameters/FilterStart'
        - $ref: '#/components/parameters/FilterEnd'
        - $ref: '#/components/parameters/FilterGroupBy'
      responses:
        '200':
          description: Metrics series
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UptimeMetricsPingResponse'
              examples:
                success:
                  value:
                    data:
                      - minimum_time_in_ms: 12.5
                        maximum_time_in_ms: 45.2
                        average_time_in_ms: 28.7
                        packet_loss_percentage: 0.0
                        uptime_percentage: 100.0
                        downtime_percentage: 0.0
                        uptime_seconds: 60
                        downtime_seconds: 0
                        date: '2024-04-19 13:25:00'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /monitors/{monitorId}/tcp-uptime-metrics:
    get:
      tags: [Uptime Metrics]
      summary: TCP uptime metrics
      description: Retrieve TCP uptime metrics for a specific monitor over a defined period.
      operationId: tcpUptimeMetrics
      parameters:
        - $ref: '#/components/parameters/MonitorId'
        - $ref: '#/components/parameters/FilterStart'
        - $ref: '#/components/parameters/FilterEnd'
        - $ref: '#/components/parameters/FilterGroupBy'
      responses:
        '200':
          description: Metrics series
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UptimeMetricsTcpResponse'
              examples:
                success:
                  value:
                    data:
                      - time_to_connect_in_ms: 15.3
                        uptime_percentage: 100.0
                        downtime_percentage: 0.0
                        uptime_seconds: 60
                        downtime_seconds: 0
                        date: '2024-04-19 13:25:00'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /broken-links/{monitorId}:
    get:
      tags: [Broken Links]
      summary: Get broken links for a monitor
      description: Retrieve a list of broken links found by the broken links check for a specific monitor.
      operationId: listBrokenLinks
      parameters:
        - $ref: '#/components/parameters/MonitorId'
      responses:
        '200':
          description: Broken links
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrokenLinksResponse'
              examples:
                success:
                  value:
                    data:
                      - crawled_url: https://example.com/broken
                        relative_crawled_url: /broken
                        status_code: 404
                        found_on_url: https://example.com
                        relative_found_on_url: https://example.com
                        internal: true
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /monitors/{monitorId}/add-to-broken-links-whitelist:
    post:
      tags: [Broken Links]
      summary: Add a URL to the broken links whitelist
      description: Add a URL to the broken links whitelist for a specific monitor. The URL will be ignored in future broken links checks.
      operationId: addBrokenLinksWhitelistUrl
      parameters:
        - $ref: '#/components/parameters/MonitorId'
      requestBody:
        description: The payload to include with the request.
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [whitelistUrl]
              properties:
                whitelistUrl:
                  type: string
                  format: uri
            examples:
              example:
                value: { whitelistUrl: 'https://externalsite.tld/page1' }
      responses:
        '200':
          description: Whitelist updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }
              examples:
                success:
                  value: { message: 'URL added to whitelist.' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /monitors/{monitorId}/update-broken-links-settings:
    put:
      tags: [Broken Links]
      summary: Update broken links settings
      description: Update the broken links check settings for a specific monitor.
      operationId: updateBrokenLinksSettings
      parameters:
        - $ref: '#/components/parameters/MonitorId'
      requestBody:
        description: The payload to include with the request.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrokenLinksSettingsUpdate'
            examples:
              example:
                value:
                  broken_links_check_include_external_links: true
                  broken_links_whitelisted_urls_string: |
                    https://externalsite.tld/page1
                    https://externalsite.tld/page2
      responses:
        '200':
          description: Settings updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }
              examples:
                success:
                  value: { message: 'Broken links settings updated.' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /monitors/{monitorId}/update-uptime-check-payload:
    put:
      tags: [Uptime]
      summary: Update non-GET uptime check payload
      description: Update the payload used for non-GET uptime checks for a specific monitor.
      operationId: updateUptimeCheckPayload
      parameters:
        - $ref: '#/components/parameters/MonitorId'
      requestBody:
        description: The payload to include with the request.
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/NameValuePair'
            examples:
              example:
                value:
                  - name: my-name
                    value: my-value
      responses:
        '200':
          description: Payload updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }
              examples:
                success:
                  value: { message: 'Uptime check payload updated.' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /mixed-content/{monitorId}:
    get:
      tags: [Mixed Content]
      summary: Get mixed content results for a monitor
      description: Retrieve a list of mixed content items found by the mixed content check for a specific monitor.
      operationId: listMixedContent
      parameters:
        - $ref: '#/components/parameters/MonitorId'
      responses:
        '200':
          description: Mixed content items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MixedContentResponse'
              examples:
                success:
                  value:
                    data:
                      - element_name: img
                        mixed_content_url: http://example.com/image.jpg
                        found_on_url: https://example.com
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /certificate-health/{monitorId}:
    get:
      tags: [Certificates]
      summary: Get certificate health for a monitor
      description: Retrieve the certificate health details for a specific monitor.
      operationId: getCertificateHealth
      parameters:
        - $ref: '#/components/parameters/MonitorId'
      responses:
        '200':
          description: Certificate health
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateHealth'
              examples:
                success:
                  value:
                    certificate_details:
                      issuer: "Let's Encrypt Authority X3"
                      valid_from: '2019-09-10 15:16:01'
                      valid_until: '2019-12-09 15:16:01'
                    certificate_checks:
                      - type: notFound
                        label: Certificate present
                        passed: true
                      - type: expiresSoon
                        label: Will not expire in the next 14 days
                        passed: true
                    certificate_chain_issuers:
                      - "US, Let's Encrypt, Let's Encrypt Authority X3"
                      - 'Digital Signature Trust Co., DST Root CA X3'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /monitors/{monitorId}/detected-certificates:
    get:
      tags: [Detected Certificates]
      summary: List detected certificates for a monitor
      description: Retrieve a paginated list of detected certificates for a specific monitor, with optional filtering and sorting.
      operationId: listDetectedCertificates
      parameters:
        - $ref: '#/components/parameters/MonitorId'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
        - name: filter[fingerprint]
          in: query
          schema:
            type: string
          description: Filter by certificate fingerprint
        - name: sort
          in: query
          schema:
            type: string
          description: Sort by created_at, updated_at, or fingerprint. Prefix with - for desc.
      responses:
        '200':
          description: Paginated detected certificates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDetectedCertificates'
              examples:
                success:
                  value:
                    data:
                      - id: 123
                        monitor_id: 1
                        fingerprint: abcd1234567890abcd1234567890abcd12345678
                        certificate_details:
                          issuer: "Let's Encrypt Authority X3"
                          domain: example.com
                          additional_domains: [www.example.com]
                          valid_from: '2023-10-01T12:00:00Z'
                          valid_until: '2024-01-01T12:00:00Z'
                          days_until_expiration: 45
                          signature_algorithm: sha256WithRSAEncryption
                          is_valid: true
                          is_expired: false
                        created_at: '2023-10-01T12:30:00Z'
                        updated_at: '2023-10-01T12:30:00Z'
                    links:
                      first: https://ohdear.app/api/monitors/1/detected-certificates?page=1
                      last: https://ohdear.app/api/monitors/1/detected-certificates?page=1
                      prev: null
                      next: null
                    meta:
                      current_page: 1
                      from: 1
                      last_page: 1
                      per_page: 15
                      to: 1
                      total: 1
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /monitors/{monitorId}/detected-certificates/{certificateId}:
    get:
      tags: [Detected Certificates]
      summary: Get a detected certificate
      description: Retrieve details of a specific detected certificate by its ID for a given monitor.
      operationId: getDetectedCertificate
      parameters:
        - $ref: '#/components/parameters/MonitorId'
        - name: certificateId
          description: The ID of the detected certificate to retrieve.
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Detected certificate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetectedCertificate'
              examples:
                success:
                  value:
                    id: 123
                    monitor_id: 1
                    fingerprint: abcd1234567890abcd1234567890abcd12345678
                    certificate_details:
                      issuer: "Let's Encrypt Authority X3"
                      domain: example.com
                      additional_domains: [www.example.com]
                      valid_from: '2023-10-01T12:00:00Z'
                      valid_until: '2024-01-01T12:00:00Z'
                      days_until_expiration: 45
                      signature_algorithm: sha256WithRSAEncryption
                      is_valid: true
                      is_expired: false
                    created_at: '2023-10-01T12:30:00Z'
                    updated_at: '2023-10-01T12:30:00Z'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /monitors/{monitorId}/maintenance-periods:
    get:
      tags: [Maintenance Periods]
      summary: List maintenance periods for a monitor
      description: Retrieve a list of maintenance periods associated with a specific monitor.
      operationId: listMaintenancePeriods
      parameters:
        - $ref: '#/components/parameters/MonitorId'
      responses:
        '200':
          description: Maintenance periods
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenancePeriodsResponse'
              examples:
                success:
                  value:
                    data:
                      - id: 101
                        monitor_id: 1
                        name: Deployment
                        starts_at: '2020-01-09 10:37:24'
                        ends_at: '2020-01-09 10:42:24'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /monitors/{monitorId}/start-maintenance:
    post:
      tags: [Maintenance Periods]
      summary: Start an immediate maintenance period (default 60 minutes)
      description: Start an immediate maintenance period for a specific monitor. By default, the maintenance period lasts 60 minutes, but you can specify a different duration in seconds. You can also provide an optional name for the maintenance period.
      operationId: startMaintenance
      parameters:
        - $ref: '#/components/parameters/MonitorId'
      requestBody:
        description: The optional payload to include with the request.
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                stop_maintenance_after_seconds:
                  type: string
                  description: Duration in seconds to auto-stop
                name:
                  type: string
                  description: Optional name
            examples:
              withDuration:
                value:
                  stop_maintenance_after_seconds: '300'
      responses:
        '200':
          description: Maintenance started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenancePeriod'
              examples:
                success:
                  value:
                    id: 101
                    monitor_id: 1
                    name: 'Optional name of your maintenance period'
                    starts_at: '2020-01-09 10:28:54'
                    ends_at: '2020-01-09 11:28:54'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /monitors/{monitorId}/stop-maintenance:
    post:
      tags: [Maintenance Periods]
      summary: Stop the active maintenance period(s)
      description: Stop any active maintenance period(s) for a specific monitor.
      operationId: stopMaintenance
      parameters:
        - $ref: '#/components/parameters/MonitorId'
      responses:
        '200':
          description: Maintenance stopped
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }
              examples:
                success:
                  value: { message: 'Maintenance stopped.' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /maintenance-periods:
    post:
      tags: [Maintenance Periods]
      summary: Create a scheduled maintenance period
      description: Create a scheduled maintenance period for a specific monitor by providing the monitor ID, start time, and end time.
      operationId: createMaintenancePeriod
      requestBody:
        description: The payload to include with the request.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMaintenancePeriodRequest'
            examples:
              example:
                value:
                  monitor_id: '1'
                  starts_at: '2020-02-01 14:00'
                  ends_at: '2020-02-01 18:00'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaintenancePeriod'
              examples:
                success:
                  value:
                    id: 101
                    monitor_id: '1'
                    starts_at: '2020-02-01 14:00:00'
                    ends_at: '2020-02-01 18:00:00'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/Validation' }

  /maintenance-periods/{maintenancePeriodId}:
    delete:
      tags: [Maintenance Periods]
      summary: Delete a maintenance period
      description: Delete a specific maintenance period by its ID. This action is irreversible.
      operationId: deleteMaintenancePeriod
      parameters:
        - name: maintenancePeriodId
          description: The ID of the maintenance period to delete.
          in: path
          required: true
          schema: { type: integer }
      responses:
        '204': { $ref: '#/components/responses/NoContent' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /status-pages:
    get:
      tags: [Status Pages]
      summary: List status pages
      description: Retrieve a paginated list of status pages, with optional pagination parameters.
      operationId: listStatusPages
      parameters:
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Paginated status pages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedStatusPages'
              examples:
                success:
                  value:
                    data:
                      - id: 1
                        team: { id: 1, name: Your Team Name }
                        title: Your Status Page Title
                        domain: status.your-domain.tld
                        slug: autem-quos-...
                        full_url: https://ohdear.app/status-page/autem-quos-...
                        timezone: Europe/Brussels
                        summarized_status: up
                        monitors:
                          - id: 1
                            url: https://site1.tld
                        created_at: '2019-09-13 07:06:51'
                        updated_at: '2019-09-13 07:06:51'
                    links:
                      first: https://ohdear.app/api/status-pages?page%5Bnumber%5D=1
                      last: https://ohdear.app/api/status-pages?page%5Bnumber%5D=1
                      prev: null
                      next: null
                    meta:
                      current_page: 1
                      from: 1
                      last_page: 1
                      path: https://ohdear.app/api/status-pages
                      per_page: 200
                      to: 2
                      total: 2
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Status Pages]
      summary: Create a status page
      description: Create a new status page by providing the team ID, title, and associated monitors.
      operationId: createStatusPage
      requestBody:
        description: The payload to include with the request.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStatusPageRequest'
            examples:
              example:
                value:
                  team_id: 1
                  title: My New Status Page
                  monitors:
                    - id: 1
                      clickable: true
                    - id: 2
                      clickable: false
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusPage'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/Validation' }

  /status-pages/{statusPageId}:
    get:
      tags: [Status Pages]
      summary: Get a status page
      description: Retrieve details of a specific status page by its ID, including associated monitors and recent updates.
      operationId: getStatusPage
      parameters:
        - $ref: '#/components/parameters/StatusPageId'
      responses:
        '200':
          description: Status page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusPageWithUpdates'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [Status Pages]
      summary: Delete a status page
      description: Delete a specific status page by its ID. This action is irreversible.
      operationId: deleteStatusPage
      parameters:
        - $ref: '#/components/parameters/StatusPageId'
      responses:
        '204': { $ref: '#/components/responses/NoContent' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /status-pages/{statusPageId}/monitors:
    post:
      tags: [Status Pages]
      summary: Add monitors to a status page
      description: Add one or more monitors to a specific status page, with an option to synchronize the status page with the current monitor statuses.
      operationId: addStatusPageMonitors
      parameters:
        - $ref: '#/components/parameters/StatusPageId'
      requestBody:
        description: The payload to include with the request.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddStatusPageMonitorsRequest'
            examples:
              example:
                value:
                  sync: true
                  monitors:
                    - id: 17
                      clickable: true
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusPage'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /status-pages/{statusPageId}/monitors/{monitorId}:
    delete:
      tags: [Status Pages]
      summary: Remove a monitor from a status page
      description: Remove a specific monitor from a status page by providing the status page ID and monitor ID.
      operationId: removeStatusPageMonitor
      parameters:
        - $ref: '#/components/parameters/StatusPageId'
        - $ref: '#/components/parameters/MonitorId'
      responses:
        '204': { $ref: '#/components/responses/NoContent' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /status-pages/{statusPageId}/updates:
    get:
      tags: [Status Page Updates]
      summary: List updates for a status page
      description: Retrieve a list of status page updates for a specific status page by its ID.
      operationId: listStatusPageUpdates
      parameters:
        - $ref: '#/components/parameters/StatusPageId'
      responses:
        '200':
          description: Updates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusPageUpdatesResponse'
              examples:
                empty:
                  value: { data: [] }
                success:
                  value:
                    data:
                      - id: 65
                        title: 3rd party API issue resolved
                        text: We have contacted our API provider and they have resolved the situation, everything is back to normal. We apologize for the inconvenience!
                        pinned: false
                        severity: resolved
                        time: '2019-09-16 08:24:00'
                        status_page_url: https://ohdear.app/status-page/your-slug
                      - id: 64
                        title: We are experiencing an outage on our service
                        text: Due to errors in our 3rd party API provider, we are experiencing an outage of our website. Our team is working on getting it resolved ASAP.
                        pinned: false
                        severity: high
                        time: '2019-09-16 08:11:00'
                        status_page_url: https://ohdear.app/status-page/your-slug
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /status-page-updates:
    post:
      tags: [Status Page Updates]
      summary: Create a status page update
      description: Create a new status page update by providing the status page ID, title, text, severity, time, and pinned status.
      operationId: createStatusPageUpdate
      requestBody:
        description: The body of the status page update to create.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStatusPageUpdateRequest'
            examples:
              example:
                value:
                  status_page_id: 1
                  title: Our site is down
                  text: We are working on it!
                  severity: high
                  time: '2019-09-16 10:24'
                  pinned: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusPageUpdate'
              examples:
                success:
                  value:
                    id: 66
                    title: Our site is down
                    text: We are working on it!
                    pinned: true
                    severity: high
                    time: '2019-09-16 08:24:00'
                    status_page_url: https://ohdear.app/status-page/your-slug
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/Validation' }

  /status-page-updates/{updateId}:
    delete:
      tags: [Status Page Updates]
      summary: Delete a status page update
      description: Delete a specific status page update by its ID. This action is irreversible.
      operationId: deleteStatusPageUpdate
      parameters:
        - name: updateId
          description: ID of the status page update
          in: path
          required: true
          schema: { type: integer }
      responses:
        '204': { $ref: '#/components/responses/NoContent' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /monitors/{monitorId}/cron-checks:
    get:
      tags: [Cron Checks]
      summary: List cron checks for a monitor
      description: Retrieve a list of cron checks associated with a specific monitor.
      operationId: listCronChecks
      parameters:
        - $ref: '#/components/parameters/MonitorId'
      responses:
        '200':
          description: Cron checks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CronChecksResponse'
              examples:
                success:
                  value:
                    data:
                      - id: 1
                        uuid: 0d210b09
                        name: cronjob number one
                        type: simple
                        description: a description goes here
                        frequency_in_minutes: 15
                        grace_time_in_minutes: 5
                        cron_expression: null
                        server_timezone: Europe/Brussels
                        ping_url: https://ping.ohdear.app/0d210b09
                        created_at: '2020-07-28 13:27:02'
                        latest_result: pingFinished
                        latest_ping_at: '2020-11-16 09:19:40'
                        human_readable_latest_ping_at: '5 minutes ago'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      tags: [Cron Checks]
      summary: Create a cron check
      description: |
        Create a new cron job monitor for a specific monitor. You can create either a simple cron check (with frequency) or a cron expression-based check.

        For simple type: provide `frequency_in_minutes` and `grace_time_in_minutes`.
        For cron type: provide `cron_expression`, `grace_time_in_minutes`, and `server_timezone`.
      operationId: createCronCheck
      parameters:
        - $ref: '#/components/parameters/MonitorId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCronCheckRequest'
            examples:
              simple:
                summary: Simple frequency-based cron check
                value:
                  name: your cron job name
                  type: simple
                  frequency_in_minutes: 10
                  grace_time_in_minutes: 15
                  description: a description goes here
              cron:
                summary: Cron expression-based check
                value:
                  name: your cron job name
                  type: cron
                  cron_expression: '* * * * *'
                  grace_time_in_minutes: 10
                  description: a description goes here
                  server_timezone: UTC
      responses:
        '201':
          description: Cron check created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CronCheck'
              examples:
                success:
                  value:
                    id: 12
                    uuid: ba4322cf
                    name: your cron job name
                    type: simple
                    description: a description goes here
                    frequency_in_minutes: 10
                    grace_time_in_minutes: 15
                    cron_expression: ''
                    server_timezone: null
                    ping_url: https://ping.ohdear.app/ba4322cf
                    created_at: '2020-08-03 12:18:33'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Validation' }

  /monitors/{monitorId}/cron-checks/sync:
    post:
      tags: [Cron Checks]
      summary: Bulk sync cron checks
      description: |
        Synchronize all cron checks for a monitor. This is a destructive action - any cron job not included in the sync request will be removed.

        Useful for managing cron checks programmatically, such as from the PHP SDK.
      operationId: syncCronChecks
      parameters:
        - $ref: '#/components/parameters/MonitorId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SyncCronChecksRequest'
            examples:
              sync:
                value:
                  cron_checks:
                    - name: cron job #1
                      type: cron
                      cron_expression: '* * * * *'
                      grace_time_in_minutes: 10
                      description: description for cron #1
                      server_timezone: UTC
                    - name: cron job #2
                      type: cron
                      cron_expression: '0 * * * *'
                      grace_time_in_minutes: 10
                      description: description for cron #2
                      server_timezone: UTC
      responses:
        '200':
          description: Cron checks synchronized
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CronCheck'
              examples:
                success:
                  value:
                    - id: 9
                      uuid: c1803dce
                      name: cron job #1
                      type: cron
                      description: description for cron #1
                      frequency_in_minutes: null
                      grace_time_in_minutes: 10
                      cron_expression: '* * * * *'
                      server_timezone: UTC
                      ping_url: https://ping.ohdear.app/c1803dce
                      created_at: '2020-09-03 19:20:25'
                      latest_result: pingFinished
                      latest_ping_at: '2020-11-16 09:19:40'
                    - id: 10
                      uuid: 40e8e39e
                      name: cron job #2
                      type: cron
                      description: description for cron #2
                      frequency_in_minutes: null
                      grace_time_in_minutes: 10
                      cron_expression: '0 * * * *'
                      server_timezone: UTC
                      ping_url: https://ping.ohdear.app/40e8e39e
                      created_at: '2020-09-03 19:20:25'
                      latest_result: pingFinished
                      latest_ping_at: '2020-11-16 09:19:40'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Validation' }

  /cron-checks/{cronCheckId}:
    delete:
      tags: [Cron Checks]
      summary: Delete a cron check
      description: Delete a specific cron check by its ID. This action cannot be undone.
      operationId: deleteCronCheck
      parameters:
        - $ref: '#/components/parameters/CronCheckId'
      responses:
        '204': { $ref: '#/components/responses/NoContent' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /monitors/{monitorId}/dns-history-items:
    get:
      tags: [DNS]
      summary: Get DNS history
      description: Retrieve the DNS history and any issues detected for a monitor's domain. Results are sorted in reverse chronological order.
      operationId: getDnsHistory
      parameters:
        - $ref: '#/components/parameters/MonitorId'
      responses:
        '200':
          description: DNS history items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DnsHistoryResponse'
              examples:
                success:
                  value:
                    data:
                      - id: 2
                        authoritative_nameservers:
                          - ns1.example.com
                          - ns2.example.com
                        dns_records:
                          - host: example.com
                            ttl: 1017
                            class: IN
                            type: A
                            ip: 93.184.216.34
                        raw_dns_records:
                          ns1.example.com:
                            - 'example.com. 1017 IN A 93.184.216.34'
                        issues: []
                        diff_summary: No changes
                        created_at: '2021-11-05 16:07:38'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /monitors/{monitorId}/domain:
    get:
      tags: [Domain]
      summary: Get domain information
      description: Retrieve domain registration information from RDAP for a monitor's domain, including expiration dates and domain statuses.
      operationId: getDomainInfo
      parameters:
        - $ref: '#/components/parameters/MonitorId'
      responses:
        '200':
          description: Domain information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainInfo'
              examples:
                success:
                  value:
                    expires_at: '2028-09-14 04:00:00'
                    registered_at: '1997-09-15 04:00:00'
                    last_changed_at: '2019-09-09 15:39:04'
                    last_updated_in_rdap_db_at: '2022-06-11 00:32:59'
                    domain_statuses:
                      client delete prohibited: true
                      client transfer prohibited: true
                      client update prohibited: true
                    rdap_domain_response: {}
                    created_at: '2022-06-10 20:33:06'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /monitors/{monitorId}/application-health-checks/{healthCheckId}:
    get:
      tags: [Application Health Checks]
      summary: Get application health check history
      description: Retrieve the history of results for a specific application health check. Newest items appear first.
      operationId: getApplicationHealthCheckHistory
      parameters:
        - $ref: '#/components/parameters/MonitorId'
        - $ref: '#/components/parameters/HealthCheckId'
      responses:
        '200':
          description: Application health check history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplicationHealthCheckHistoryResponse'
              examples:
                success:
                  value:
                    data:
                      - id: 2
                        status: ok
                        message: ''
                        short_summary: '60%'
                        meta:
                          usage: 60
                        detected_at: '2021-01-01 00:01:00'
                        updated_at: '2021-01-01 00:01:00'
                      - id: 1
                        status: failed
                        message: The disk is nearly full (91%)
                        short_summary: '91%'
                        meta:
                          usage: 91
                        detected_at: '2021-01-01 00:00:00'
                        updated_at: '2021-01-01 00:00:00'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /monitors/{monitorId}/lighthouse-reports:
    get:
      tags: [Lighthouse]
      summary: List Lighthouse reports
      description: Retrieve all Lighthouse SEO reports for a monitor. The json_report field is not included in this list response.
      operationId: listLighthouseReports
      parameters:
        - $ref: '#/components/parameters/MonitorId'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Paginated Lighthouse reports
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedLighthouseReports'
              examples:
                success:
                  value:
                    data:
                      - id: 1423
                        performance_score: 97
                        accessibility_score: 98
                        best_practices_score: 92
                        seo_score: 92
                        progressive_web_app_score: 30
                        first_contentful_paint_in_ms: 1851.45
                        speed_index_in_ms: 1866
                        largest_contentful_paint_in_ms: 1851.45
                        time_to_interactive_in_ms: 2473.87
                        total_blocking_time_in_ms: 123.77
                        cumulative_layout_shift: 0.01
                        performed_on_checker_server: lighthouse-checker-frankfurt-1
                        issues: []
                        created_at: '2023-01-14 00:00:55'
                    links:
                      first: https://ohdear.app/api/monitors/1/lighthouse-reports?page%5Bnumber%5D=1
                      last: https://ohdear.app/api/monitors/1/lighthouse-reports?page%5Bnumber%5D=1
                      prev: null
                      next: null
                    meta:
                      current_page: 1
                      from: 1
                      last_page: 1
                      per_page: 200
                      to: 1
                      total: 1
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /monitors/{monitorId}/lighthouse-reports/latest:
    get:
      tags: [Lighthouse]
      summary: Get latest Lighthouse report
      description: Retrieve the most recent Lighthouse SEO report for a monitor, including the full json_report.
      operationId: getLatestLighthouseReport
      parameters:
        - $ref: '#/components/parameters/MonitorId'
      responses:
        '200':
          description: Latest Lighthouse report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LighthouseReport'
              examples:
                success:
                  value:
                    id: 1
                    performance_score: 50
                    accessibility_score: 98
                    best_practices_score: 92
                    seo_score: 92
                    progressive_web_app_score: 30
                    first_contentful_paint_in_ms: 1851.45
                    speed_index_in_ms: 1866
                    largest_contentful_paint_in_ms: 1851.45
                    time_to_interactive_in_ms: 2473.87
                    total_blocking_time_in_ms: 123.77
                    cumulative_layout_shift: 0.01
                    performed_on_checker_server: lighthouse-checker-frankfurt-1
                    json_report: {}
                    issues:
                      - category: performance
                        actualScore: 50
                        notificationThreshold: 70
                    created_at: '2023-01-14 00:00:55'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /monitors/{monitorId}/lighthouse-reports/{reportId}:
    get:
      tags: [Lighthouse]
      summary: Get a specific Lighthouse report
      description: Retrieve a specific Lighthouse SEO report by ID, including the full json_report.
      operationId: getLighthouseReport
      parameters:
        - $ref: '#/components/parameters/MonitorId'
        - name: reportId
          description: ID of the Lighthouse report
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: Lighthouse report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LighthouseReport'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /monitors/{monitorId}/ai-responses:
    get:
      tags: [AI]
      summary: List AI responses
      description: Retrieve all AI responses for a monitor.
      operationId: listAiResponses
      parameters:
        - $ref: '#/components/parameters/MonitorId'
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Paginated AI responses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAiResponses'
              examples:
                success:
                  value:
                    data:
                      - id: 2
                        result: ok
                        finish_reason: stop
                        prompt: Check the status of this website and provide insights on any issues.
                        text: Your site is running perfectly. All checks passed.
                        notification_title: null
                        notification_body: null
                        used_tools:
                          - http_check
                        used_prompt_tokens: 120
                        used_completion_tokens: 45
                        started_at: '2024-01-15 11:15:25'
                        ended_at: '2024-01-15 11:15:30'
                        created_at: '2024-01-15 11:15:30'
                    links:
                      first: https://ohdear.app/api/monitors/1/ai-responses?page%5Bnumber%5D=1
                      last: https://ohdear.app/api/monitors/1/ai-responses?page%5Bnumber%5D=1
                      prev: null
                      next: null
                    meta:
                      current_page: 1
                      from: 1
                      last_page: 1
                      per_page: 200
                      to: 1
                      total: 1
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /monitors/{monitorId}/ai-responses/latest:
    get:
      tags: [AI]
      summary: Get latest AI response
      description: Retrieve the most recent AI response for a monitor, including the raw_response.
      operationId: getLatestAiResponse
      parameters:
        - $ref: '#/components/parameters/MonitorId'
      responses:
        '200':
          description: Latest AI response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiResponse'
              examples:
                success:
                  value:
                    id: 1
                    result: issue
                    finish_reason: stop
                    prompt: Check the status of this website and provide insights on any issues.
                    text: Your site appears to be down. HTTP 500 error detected.
                    notification_title: Site Issue Detected
                    notification_body: Your website is returning a 500 error. Please check your server logs.
                    used_tools:
                      - http_check
                      - ssl_check
                    used_prompt_tokens: 150
                    used_completion_tokens: 75
                    raw_response: '{"response": {"message": "Site down"}}'
                    started_at: '2024-01-15 10:30:40'
                    ended_at: '2024-01-15 10:30:45'
                    created_at: '2024-01-15 10:30:45'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /monitors/{monitorId}/ai-responses/{responseId}:
    get:
      tags: [AI]
      summary: Get a specific AI response
      description: Retrieve a specific AI response by ID, including the raw_response.
      operationId: getAiResponse
      parameters:
        - $ref: '#/components/parameters/MonitorId'
        - name: responseId
          description: ID of the AI response
          in: path
          required: true
          schema: { type: integer }
      responses:
        '200':
          description: AI response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AiResponse'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /tags:
    get:
      tags: [Tags]
      summary: List all tags
      description: Retrieve all tags for your teams.
      operationId: listTags
      responses:
        '200':
          description: List of tags
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagsResponse'
              examples:
                success:
                  value:
                    data:
                      - id: 22
                        team_id: 5
                        team_name: Oh Dear
                        name: production
                        slug: production
                        created_at: '2025-08-15 09:00:00'
                        updated_at: '2025-08-15 09:00:00'
                        sites:
                          - 17
                          - 317
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Tags]
      summary: Create a tag
      description: Create a new tag for your team.
      operationId: createTag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTagRequest'
            examples:
              basic:
                value:
                  team_id: 5
                  name: production
                  sites:
                    - 17
                    - 317
      responses:
        '201':
          description: Tag created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/Validation' }

  /tag-groups:
    get:
      tags: [Tag Groups]
      summary: List all tag groups
      description: Retrieve all tag groups for your teams.
      operationId: listTagGroups
      parameters:
        - $ref: '#/components/parameters/PageNumber'
        - $ref: '#/components/parameters/PageSize'
      responses:
        '200':
          description: Paginated list of tag groups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTagGroups'
              examples:
                success:
                  value:
                    data:
                      - id: 6
                        label: VIP Client Production Sites
                        team_id: 5
                        team_name: Oh Dear
                        created_at: '2025-08-15 09:00:00'
                        updated_at: '2025-08-15 09:00:00'
                        tags:
                          - id: 77
                            team_id: 5
                            team_name: Oh Dear
                            name: VIP
                            slug: vip
                            created_at: '2025-08-15 09:00:00'
                            updated_at: '2025-08-15 09:00:00'
                            sites: []
                    links:
                      first: https://ohdear.app/api/tag-groups?page%5Bnumber%5D=1
                      last: https://ohdear.app/api/tag-groups?page%5Bnumber%5D=1
                      prev: null
                      next: null
                    meta:
                      current_page: 1
                      from: 1
                      last_page: 1
                      per_page: 200
                      to: 1
                      total: 1
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [Tag Groups]
      summary: Create a tag group
      description: Create a new tag group for your team. Any tags that do not exist will be created.
      operationId: createTagGroup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTagGroupRequest'
            examples:
              basic:
                value:
                  team_id: 5
                  label: VIP Client Production Sites
                  tags:
                    - VIP
                    - production
                    - '*client*'
      responses:
        '201':
          description: Tag group created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagGroup'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/Validation' }

  /tag-groups/{tagGroupId}:
    put:
      tags: [Tag Groups]
      summary: Update a tag group
      description: Update an existing tag group. An empty tags array will remove all tags from the group. Omit the tags property to only update the label.
      operationId: updateTagGroup
      parameters:
        - $ref: '#/components/parameters/TagGroupId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTagGroupRequest'
            examples:
              updateLabel:
                value:
                  label: Updated Label
              updateTags:
                value:
                  label: VIP Client Production Sites
                  tags:
                    - VIP
                    - production
                    - '*client*'
                    - additional-tag
      responses:
        '200':
          description: Tag group updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagGroup'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '422': { $ref: '#/components/responses/Validation' }
    delete:
      tags: [Tag Groups]
      summary: Delete a tag group
      description: Delete an existing tag group.
      operationId: deleteTagGroup
      parameters:
        - $ref: '#/components/parameters/TagGroupId'
      responses:
        '204': { $ref: '#/components/responses/NoContent' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /team-notification-destinations:
    get:
      tags: [Notification Destinations]
      summary: Get team notification destinations
      description: Retrieve all notification destinations defined at the team level for all your teams. Only admins and team owners can access this endpoint.
      operationId: listTeamNotificationDestinations
      responses:
        '200':
          description: Team notification destinations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamNotificationDestinationsResponse'
              examples:
                success:
                  value:
                    data:
                      - id: 123
                        team_id: 1
                        channel: mail
                        destination:
                          mail: john@example.com
                        notification_types:
                          - HttpUptimeCheckFailedNotification
                          - HttpUptimeCheckRecoveredNotification
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /team-notification-destinations/{teamId}:
    post:
      tags: [Notification Destinations]
      summary: Create team notification destination
      description: Create a new notification destination for a team. Only admins and team owners can access this endpoint.
      operationId: createTeamNotificationDestination
      parameters:
        - $ref: '#/components/parameters/TeamId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNotificationDestinationRequest'
            examples:
              mail:
                value:
                  channel: mail
                  destination:
                    mail: example@example.com
                  notification_types:
                    - UptimeCheckRecoveredNotification
                    - UptimeCheckFailedNotification
              allEvents:
                value:
                  channel: mail
                  destination:
                    mail: example@example.com
              withTest:
                value:
                  test: true
                  channel: mail
                  destination:
                    mail: example@example.com
      responses:
        '201':
          description: Notification destination created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamNotificationDestination'
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '422': { $ref: '#/components/responses/Validation' }

  /team-notification-destinations/{teamId}/destination/{destinationId}:
    put:
      tags: [Notification Destinations]
      summary: Update team notification destination
      description: Update an existing notification destination for a team. Only admins and team owners can access this endpoint.
      operationId: updateTeamNotificationDestination
      parameters:
        - $ref: '#/components/parameters/TeamId'
        - $ref: '#/components/parameters/DestinationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateNotificationDestinationRequest'
            examples:
              update:
                value:
                  test: true
                  channel: mail
                  destination:
                    mail: updated@example.com
      responses:
        '200':
          description: Notification destination updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamNotificationDestination'
        '401': { $ref: '#/components/responses/Unauthorized' }
[...]
